<!DOCTYPE html>
<html>
  <head>
    <title>neb's 9bin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <style>
      pre code.hljs {
        padding:0.1em
      }
    </style>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="logoBox">
        <a href="/about" class="logo">neb's 9bin</a>
    </div>
    <div class="buttonBox">
        <%= icon "save", variant: "solid", class: "button", id: "submit" %>
        <%= icon "file-plus", variant: "solid", class: "button", id: "new" %>
        <%= icon "file", variant: "solid", class: "button", id: "raw" %>
    </div>
    <%= yield %>
  </body>
</html>
